html{
	height: 100%;
	width: 100%;
	display: block;
	padding: 0;
	border: 0;
	margin: 0;
}
body{
	background-color: #444;
	height: 95%;
	width: 100%;
	display: block;
	position: relative;

	padding: 0;
	margin: 0;
	border: 0;
}

header{
	width: 100%;
	display: inline-block;
	height: 40px;
	background-color: #111;
	position: relative;
}

header span{
	color: #fff;
	line-height: 40px;
	width: 120px;
	display: block;
	vertical-align: middle;
	font-family: 'Roboto',sans-serif;
	text-align: center;

	margin-left: auto;
	margin-right: auto;

}

#container{

	display: block;
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 5%;
}
#container ul{
	float:left;
	width: 100%;
	padding: 0px;
	margin: 1px;
}

#container #stageRow1{
	height: 60%;
	display: inline-table;
}

#container #stageRow2{
	display: inline-table;
	height: 40%;
}

#container .stage{
	background-color: #222;
	display: inline-block;	
	height: 100%;
	position: relative;
}

#container .stage::after{
	content: '';
	background-color: #444;
	width: 2px;
	height: 100%;
	z-index: 999;
	display: block;
}

#container #mainStage{
	width: 80%;	
	margin-top: -4px;
}

#container #sideStage #events{
	color:#fff;
	list-style: none;
	/*padding: 5%;*/
	margin-right: 10%;
	margin-top: 10%;
	width: 80%;
	font-family: 'Roboto', sans-serif;
}

#container #sideStage #events li{
	padding: 4px;
}

#container .stageContent{
	width: 90%;
	float: right;
	margin-right: 5%;
	margin-left: 5%;

	height: 80%;
	margin-bottom: 5%;

}

#container #abnormalities{
	border: 1px dashed #aaa;
	background-color: #444;
}

#container #abnormalities span{
	cursor: pointer;
}

#container .subStage .stageContent{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

.subStage .ticker{

	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 26pt;
	text-align: center;
	
	line-height: 500%;
	vertical-align: middle;


	position: absolute;
	top: 50%;
	margin-top: 10%;
	transform: translateY(-50%);
}

#container #sideStage{
	width: 20%;
}
#container .subStage{
	width: 25%;
}
#container .heading{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}



.c3-chart-arc .c3-gauge-value, .c3-axis-y .tick, .c3-axis-y-label, .c3-axis-x .tick, .c3-axis-x-label, .c3-legend-item{
	fill:#fff;
}

.c3 .domain, .c3 line{
	stroke:#fff; 
}